$theme-black: #050505;
$theme-blue: #175cf0;
$theme-grey: #161616;
$theme-green-dark: #034624;
$theme-blue-light: #4163bb;
$theme-cyan: #54c7ec;
$theme-blue-lightest: #8e86a3;
$black: #000000;
$theme-black-light: #575757;
$theme-grey-400: #c4cdd5;
$theme-grey-500: #919eab;
$theme-grey-600: #637381;
$theme-grey-700: #454f5b;
$theme-grey-nav: #4f4f4f;
